#Mostly meta files...
monkeyBarf/Library/
monkeyBarf/Assembly-CSharp-Editor-vs.csproj
monkeyBarf/Assembly-CSharp-Editor.csproj
monkeyBarf/Assembly-CSharp-Editor.pidb
monkeyBarf/Assembly-CSharp-firstpass-vs.csproj
monkeyBarf/Assembly-CSharp-firstpass.csproj
monkeyBarf/Assembly-CSharp-firstpass.pidb
monkeyBarf/Assembly-CSharp-vs.csproj
monkeyBarf/Assembly-CSharp.csproj
monkeyBarf/Assembly-CSharp.pidb
monkeyBarf/Assembly-UnityScript-firstpass-vs.unityproj
monkeyBarf/Assembly-UnityScript-firstpass.unityproj
monkeyBarf/Assembly-UnityScript-firstpass.pidb