#Mostly meta files...
Unity project/Library/
Unity project/Assembly-CSharp-Editor-vs.csproj
Unity project/Assembly-CSharp-Editor.csproj
Unity project/Assembly-CSharp-Editor.pidb
Unity project/Assembly-CSharp-firstpass-vs.csproj
Unity project/Assembly-CSharp-firstpass.csproj
Unity project/Assembly-CSharp-firstpass.pidb
Unity project/Assembly-CSharp-vs.csproj
Unity project/Assembly-CSharp.csproj
Unity project/Assembly-CSharp.pidb
Unity project/Assets/Assembly-CSharp-Editor-vs.csproj
Unity project/Assets/Assembly-CSharp-Editor.csproj
Unity project/Assets/Assembly-CSharp-Editor.pidb
Unity project/Assets/Assembly-CSharp-firstpass-vs.csproj
Unity project/Assets/Assembly-CSharp-firstpass.csproj
Unity project/Assets/Assembly-CSharp-firstpass.pidb
Unity project/Assets/Assembly-CSharp-vs.csproj
Unity project/Assets/Assembly-CSharp.csproj
Unity project/Assets/Assembly-CSharp.pidb
Unity project/Assets/Assembly-UnityScript-firstpass-vs.unityproj
Unity project/Assets/Assembly-UnityScript-firstpass.unityproj
Unity project/Assets/Assembly-UnityScript-firstpass.pidb
Library
